nav {
    height: 9vh;
}
.col{
    height: 100vh;
    width: 50%;
}
footer {
    height: 8vh;
}
/* .no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  } */
#row { 
    margin-right: 0px;
    padding-right: 0xp;
    width: 100%;
}
.jumbotron {
    background-color: aquamarine;
    border-radius: 10px;
    border: solid black;
    padding-right: 25%;
}
